#titulo {
    margin-bottom: 20px;
}

#tabuleiro {
    width: 505px;
    height: 505px;
    border: 4px solid black;
    margin: 0 auto;
}

.cima {
    width: 500px;
    height: 166px;
    display: flex;
    border-bottom: 3px solid black
}

.meio {
    width: 500px;
    height: 166px;
    display: flex;
}

.baixo {
    width: 500px;
    height: 166px;
    display: flex;
    border-top: 3px solid black
}

.quadrado {
    width: 166px;
    height: 166px;
    margin: 0 auto;
    font-size: 100px;
    color: red;
    text-align: center;
}

.cima .quadrado:first-child{
    border-right: 3px solid black
}

.meio .quadrado:first-child{
    border-right: 3px solid black
}

.baixo .quadrado:first-child{
    border-right: 3px solid black
}

.cima .quadrado:last-child{
    border-left: 3px solid black
}

.meio .quadrado:last-child{
    border-left: 3px solid black
}

.baixo .quadrado:last-child{
    border-left: 3px solid black
}